In [88]:
import pandas as pd 
import numpy as np

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score  
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

# Load the training data
df = pd.read_csv('/smoke_detection_iot.csv')
df

,Unnamed: 0,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.00,0.00,0.00,0.000,0.000,0,0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.00,0.00,0.00,0.000,0.000,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.00,0.00,0.00,0.000,0.000,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.00,0.00,0.00,0.000,0.000,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.00,0.00,0.00,0.000,0.000,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62625,62625,1655130047,18.438,15.79,625,400,13723,20569,936.670,0.63,0.65,4.32,0.673,0.015,5739,0
62626,62626,1655130048,18.653,15.87,612,400,13731,20588,936.678,0.61,0.63,4.18,0.652,0.015,5740,0
62627,62627,1655130049,18.867,15.84,627,400,13725,20582,936.687,0.57,0.60,3.95,0.617,0.014,5741,0
62628,62628,1655130050,19.083,16.04,638,400,13712,20566,936.680,0.57,0.59,3.92,0.611,0.014,5742,0
62629,62629,1655130051,19.299,16.52,643,400,13696,20543,936.676,0.57,0.59,3.90,0.607,0.014,5743,0

In [89]:
#Drop Unnamed from DataFrame
X = df.drop(['Unnamed: 0'] , axis = 1)
X

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.00,0.00,0.00,0.000,0.000,0,0
1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.00,0.00,0.00,0.000,0.000,1,0
2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.00,0.00,0.00,0.000,0.000,2,0
3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.00,0.00,0.00,0.000,0.000,3,0
4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.00,0.00,0.00,0.000,0.000,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62625,1655130047,18.438,15.79,625,400,13723,20569,936.670,0.63,0.65,4.32,0.673,0.015,5739,0
62626,1655130048,18.653,15.87,612,400,13731,20588,936.678,0.61,0.63,4.18,0.652,0.015,5740,0
62627,1655130049,18.867,15.84,627,400,13725,20582,936.687,0.57,0.60,3.95,0.617,0.014,5741,0
62628,1655130050,19.083,16.04,638,400,13712,20566,936.680,0.57,0.59,3.92,0.611,0.014,5742,0
62629,1655130051,19.299,16.52,643,400,13696,20543,936.676,0.57,0.59,3.90,0.607,0.014,5743,0

In [90]:
# Choose Target
y = df['Fire Alarm']

In [91]:
# Split X, Y into Training and test sets
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size=0.2)

In [92]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(12, input_dim=X.shape[1], activation='relu')) 
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [93]:
# Compile the model     
model.compile(loss='binary_crossentropy', 
              optimizer='adam',
              metrics=['accuracy'])


from keras.callbacks import Callback
# check for accuracy repetition
class EarlyStoppingAccuracy(Callback):
    def __init__(self):
        self.counter = 0
        self.best_accuracy = 0
        
    def on_epoch_end(self, epoch, logs=None):
        accuracy = logs['accuracy']
        
        if accuracy > self.best_accuracy:
            self.best_accuracy = accuracy
            self.counter = 0
        else:       
             self.counter += 1
             
        if self.counter >= 10:
            self.model.stop_training = True

In [94]:
# Fit the model
early_stop = EarlyStoppingAccuracy() #check for accuracy repetition

model.fit(X_train, y_train, epochs=150, callbacks=[early_stop])

Epoch 1/150
1566/1566 [==============================] - 4s 2ms/step - loss: 679471.3125 - accuracy: 0.5976
Epoch 2/150
1566/1566 [==============================] - 3s 2ms/step - loss: 310487.8438 - accuracy: 0.5930
Epoch 3/150
1566/1566 [==============================] - 4s 2ms/step - loss: 248622.0312 - accuracy: 0.5935
Epoch 4/150
1566/1566 [==============================] - 3s 2ms/step - loss: 277546.0938 - accuracy: 0.5966
Epoch 5/150
1566/1566 [==============================] - 3s 2ms/step - loss: 241837.8438 - accuracy: 0.6026
Epoch 6/150
1566/1566 [==============================] - 3s 2ms/step - loss: 230045.2188 - accuracy: 0.6033
Epoch 7/150
1566/1566 [==============================] - 3s 2ms/step - loss: 194562.3750 - accuracy: 0.6071
Epoch 8/150
1566/1566 [==============================] - 3s 2ms/step - loss: 211638.9219 - accuracy: 0.6038
Epoch 9/150
1566/1566 [==============================] - 3s 2ms/step - loss: 250083.1250 - accuracy: 0.6054
Epoch 10/150
1566/1566 [==============================] - 3s 2ms/step - loss: 191852.0781 - accuracy: 0.6124
Epoch 11/150
1566/1566 [==============================] - 3s 2ms/step - loss: 164187.2500 - accuracy: 0.6158
Epoch 12/150
1566/1566 [==============================] - 4s 2ms/step - loss: 182041.2031 - accuracy: 0.6152
Epoch 13/150
1566/1566 [==============================] - 3s 2ms/step - loss: 176157.5938 - accuracy: 0.6188
Epoch 14/150
1566/1566 [==============================] - 3s 2ms/step - loss: 180995.6406 - accuracy: 0.6195
Epoch 15/150
1566/1566 [==============================] - 3s 2ms/step - loss: 165367.5312 - accuracy: 0.6199
Epoch 16/150
1566/1566 [==============================] - 4s 3ms/step - loss: 187986.6719 - accuracy: 0.6241
Epoch 17/150
1566/1566 [==============================] - 4s 3ms/step - loss: 187503.7969 - accuracy: 0.6210
Epoch 18/150
1566/1566 [==============================] - 3s 2ms/step - loss: 156359.3125 - accuracy: 0.6311
Epoch 19/150
1566/1566 [==============================] - 3s 2ms/step - loss: 177312.6719 - accuracy: 0.6297
Epoch 20/150
1566/1566 [==============================] - 4s 2ms/step - loss: 125880.5625 - accuracy: 0.6410
Epoch 21/150
1566/1566 [==============================] - 3s 2ms/step - loss: 149488.0938 - accuracy: 0.6392
Epoch 22/150
1566/1566 [==============================] - 3s 2ms/step - loss: 111575.8672 - accuracy: 0.6501
Epoch 23/150
1566/1566 [==============================] - 3s 2ms/step - loss: 136970.3125 - accuracy: 0.6473
Epoch 24/150
1566/1566 [==============================] - 4s 2ms/step - loss: 119469.1328 - accuracy: 0.6549
Epoch 25/150
1566/1566 [==============================] - 3s 2ms/step - loss: 99687.4922 - accuracy: 0.6631
Epoch 26/150
1566/1566 [==============================] - 3s 2ms/step - loss: 120535.1797 - accuracy: 0.6545
Epoch 27/150
1566/1566 [==============================] - 3s 2ms/step - loss: 100457.3672 - accuracy: 0.6592
Epoch 28/150
1566/1566 [==============================] - 3s 2ms/step - loss: 98693.9141 - accuracy: 0.6634
Epoch 29/150
1566/1566 [==============================] - 3s 2ms/step - loss: 86960.5703 - accuracy: 0.6759
Epoch 30/150
1566/1566 [==============================] - 3s 2ms/step - loss: 114909.8828 - accuracy: 0.6569
Epoch 31/150
1566/1566 [==============================] - 3s 2ms/step - loss: 82280.9453 - accuracy: 0.6841
Epoch 32/150
1566/1566 [==============================] - 3s 2ms/step - loss: 91206.6250 - accuracy: 0.6790
Epoch 33/150
1566/1566 [==============================] - 3s 2ms/step - loss: 82355.9453 - accuracy: 0.6859
Epoch 34/150
1566/1566 [==============================] - 3s 2ms/step - loss: 77309.4297 - accuracy: 0.6913
Epoch 35/150
1566/1566 [==============================] - 3s 2ms/step - loss: 83862.1484 - accuracy: 0.6971
Epoch 36/150
1566/1566 [==============================] - 3s 2ms/step - loss: 74934.6016 - accuracy: 0.6950
Epoch 37/150
1566/1566 [==============================] - 4s 2ms/step - loss: 63378.3086 - accuracy: 0.7068
Epoch 38/150
1566/1566 [==============================] - 3s 2ms/step - loss: 68660.4453 - accuracy: 0.7072
Epoch 39/150
1566/1566 [==============================] - 3s 2ms/step - loss: 71820.0859 - accuracy: 0.6976
Epoch 40/150
1566/1566 [==============================] - 3s 2ms/step - loss: 86501.6875 - accuracy: 0.7049
Epoch 41/150
1566/1566 [==============================] - 3s 2ms/step - loss: 55480.8164 - accuracy: 0.7261
Epoch 42/150
1566/1566 [==============================] - 3s 2ms/step - loss: 62672.0430 - accuracy: 0.7099
Epoch 43/150
1566/1566 [==============================] - 3s 2ms/step - loss: 59888.6328 - accuracy: 0.7284
Epoch 44/150
1566/1566 [==============================] - 3s 2ms/step - loss: 56665.0312 - accuracy: 0.7200
Epoch 45/150
1566/1566 [==============================] - 3s 2ms/step - loss: 64618.8164 - accuracy: 0.7226
Epoch 46/150
1566/1566 [==============================] - 4s 2ms/step - loss: 56920.5352 - accuracy: 0.7192
Epoch 47/150
1566/1566 [==============================] - 3s 2ms/step - loss: 47139.8047 - accuracy: 0.7353
Epoch 48/150
1566/1566 [==============================] - 3s 2ms/step - loss: 57719.6406 - accuracy: 0.7279
Epoch 49/150
1566/1566 [==============================] - 3s 2ms/step - loss: 50980.8945 - accuracy: 0.7438
Epoch 50/150
1566/1566 [==============================] - 3s 2ms/step - loss: 50585.4531 - accuracy: 0.7384
Epoch 51/150
1566/1566 [==============================] - 3s 2ms/step - loss: 57699.4297 - accuracy: 0.7367
Epoch 52/150
1566/1566 [==============================] - 3s 2ms/step - loss: 46459.2695 - accuracy: 0.7581
Epoch 53/150
1566/1566 [==============================] - 3s 2ms/step - loss: 44713.5664 - accuracy: 0.7467
Epoch 54/150
1566/1566 [==============================] - 3s 2ms/step - loss: 48230.4023 - accuracy: 0.7479
Epoch 55/150
1566/1566 [==============================] - 3s 2ms/step - loss: 36261.8945 - accuracy: 0.7566
Epoch 56/150
1566/1566 [==============================] - 3s 2ms/step - loss: 50603.0312 - accuracy: 0.7376
Epoch 57/150
1566/1566 [==============================] - 3s 2ms/step - loss: 44620.1328 - accuracy: 0.7577
Epoch 58/150
1566/1566 [==============================] - 3s 2ms/step - loss: 39280.2031 - accuracy: 0.7638
Epoch 59/150
1566/1566 [==============================] - 4s 2ms/step - loss: 42736.3750 - accuracy: 0.7587
Epoch 60/150
1566/1566 [==============================] - 3s 2ms/step - loss: 40767.9492 - accuracy: 0.7600
Epoch 61/150
1566/1566 [==============================] - 3s 2ms/step - loss: 41287.6523 - accuracy: 0.7584
Epoch 62/150
1566/1566 [==============================] - 3s 2ms/step - loss: 34947.9609 - accuracy: 0.7725
Epoch 63/150
1566/1566 [==============================] - 3s 2ms/step - loss: 43938.0547 - accuracy: 0.7519
Epoch 64/150
1566/1566 [==============================] - 3s 2ms/step - loss: 40227.7266 - accuracy: 0.7592
Epoch 65/150
1566/1566 [==============================] - 3s 2ms/step - loss: 42741.7109 - accuracy: 0.7608
Epoch 66/150
1566/1566 [==============================] - 3s 2ms/step - loss: 33631.2773 - accuracy: 0.7783
Epoch 67/150
1566/1566 [==============================] - 3s 2ms/step - loss: 40461.7070 - accuracy: 0.7634
Epoch 68/150
1566/1566 [==============================] - 3s 2ms/step - loss: 33542.9453 - accuracy: 0.7773
Epoch 69/150
1566/1566 [==============================] - 3s 2ms/step - loss: 31508.8906 - accuracy: 0.7859
Epoch 70/150
1566/1566 [==============================] - 3s 2ms/step - loss: 37611.8359 - accuracy: 0.7677
Epoch 71/150
1566/1566 [==============================] - 3s 2ms/step - loss: 34419.0977 - accuracy: 0.7791
Epoch 72/150
1566/1566 [==============================] - 4s 2ms/step - loss: 29916.5020 - accuracy: 0.7875
Epoch 73/150
1566/1566 [==============================] - 3s 2ms/step - loss: 36348.4141 - accuracy: 0.7767
Epoch 74/150
1566/1566 [==============================] - 3s 2ms/step - loss: 34226.6602 - accuracy: 0.7891
Epoch 75/150
1566/1566 [==============================] - 3s 2ms/step - loss: 29730.0586 - accuracy: 0.7907
Epoch 76/150
1566/1566 [==============================] - 3s 2ms/step - loss: 33883.1445 - accuracy: 0.7831
Epoch 77/150
1566/1566 [==============================] - 3s 2ms/step - loss: 33623.3945 - accuracy: 0.7803
Epoch 78/150
1566/1566 [==============================] - 3s 2ms/step - loss: 33016.4961 - accuracy: 0.7854
Epoch 79/150
1566/1566 [==============================] - 3s 2ms/step - loss: 30737.8965 - accuracy: 0.7939
Epoch 80/150
1566/1566 [==============================] - 3s 2ms/step - loss: 34444.1055 - accuracy: 0.7869
Epoch 81/150
1566/1566 [==============================] - 3s 2ms/step - loss: 33745.3867 - accuracy: 0.7885
Epoch 82/150
1566/1566 [==============================] - 3s 2ms/step - loss: 30845.9082 - accuracy: 0.7916
Epoch 83/150
1566/1566 [==============================] - 3s 2ms/step - loss: 33246.1094 - accuracy: 0.7952
Epoch 84/150
1566/1566 [==============================] - 3s 2ms/step - loss: 32008.7188 - accuracy: 0.7925
Epoch 85/150
1566/1566 [==============================] - 4s 2ms/step - loss: 31853.4043 - accuracy: 0.7955
Epoch 86/150
1566/1566 [==============================] - 3s 2ms/step - loss: 25989.9082 - accuracy: 0.8111
Epoch 87/150
1566/1566 [==============================] - 3s 2ms/step - loss: 34491.6836 - accuracy: 0.7894
Epoch 88/150
1566/1566 [==============================] - 3s 2ms/step - loss: 35940.5508 - accuracy: 0.7869
Epoch 89/150
1566/1566 [==============================] - 4s 3ms/step - loss: 28144.8047 - accuracy: 0.8050
Epoch 90/150
1566/1566 [==============================] - 4s 2ms/step - loss: 28160.3242 - accuracy: 0.8038
Epoch 91/150
1566/1566 [==============================] - 5s 3ms/step - loss: 33300.9922 - accuracy: 0.7946
Epoch 92/150
1566/1566 [==============================] - 4s 2ms/step - loss: 29950.0762 - accuracy: 0.8053
Epoch 93/150
1566/1566 [==============================] - 5s 3ms/step - loss: 33735.7500 - accuracy: 0.7971
Epoch 94/150
1566/1566 [==============================] - 3s 2ms/step - loss: 31127.9238 - accuracy: 0.8027
Epoch 95/150
1566/1566 [==============================] - 3s 2ms/step - loss: 33646.4453 - accuracy: 0.7985
Epoch 96/150
1566/1566 [==============================] - 4s 2ms/step - loss: 32451.4766 - accuracy: 0.8058

In [95]:
# test the model
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)
accuracy = accuracy_score(y_test, y_pred)

392/392 [==============================] - 1s 2ms/step

In [98]:
print(f"Accuracy: {accuracy*100}")

Accuracy: 73.04007664058759